@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: poppins, sans-serif;
}

nav .nav {
    margin: auto;
    width: 90%;
}

nav .nav-link[aria-selected="false"] {
    color: #515354;
}

nav .nav-link[aria-selected="true"] {
    color: #000000;
}

.btn-custom-color {
    background-color: #74b664;
    color: white;
}

.btn-custom-color:hover {
    background-color: #6fa861;
    color: white;
}

.nav-link:not(.active) {
    color: #74b664;
    font-style: bold;
}